
.reveal {
    font-family: "Work Sans", sans-serif;
}

.reveal .slides .stack section {
    text-align: left;
    font-size: smaller;
}

.reveal .slides .stack pre code {
    max-height: 650px;
}

.reveal .slides .stack  h1, .reveal .slides .stack h2, .reveal .slides .stack h3 {
    color: #0072c1;
}

.reveal .slides .stack h1 {
    font-size: 300%;
}