
.reveal {
    font-family: "Work Sans", sans-serif;
}

.reveal .slides .stack section {
    text-align: left;
    font-size: smaller;
}

.reveal .slides .stack pre code {
    max-height: 650px;
}

.reveal .slides .stack pre code.language-python, .reveal .slides .stack pre code.language-shell {
    font-size: 70%;
    line-height: 1.3em;
}

.reveal .slides .stack  h1, .reveal .slides .stack h2, .reveal .slides .stack h3 {
    color: #0072c1;
}

.reveal .slides .stack h1 {
    font-size: 300%;
}

:root {
    --jp-ui-font-size1: 14px;       /* instead of 14px */
    --jp-content-font-size1: 16px;  /* instead of 14px */
    --jp-code-font-size: 16px;      /* instead of 13px */
    --jp-cell-prompt-width: 64px;  /* instead of 64px */
}